.currentWord {
  background: rgb(253, 193, 255, .6);
  border: 2px solid black;
  border-radius: 5px;
  margin: 3% 5% 3% 5%;
  padding: 2%;
  font-size: 19px;
}

.GuessForm {
  background: rgb(252, 164, 255);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
}

legend {
  background-color: rgb(253, 202, 255);
  color: black;
  padding: 5px 10px;
  text-align: left;
}

.Scores {
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(83, 92, 221, 0.8);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px;
}

.LearningTitle {
  font-size: 150%;
  color: rgb(92, 157, 255);
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000000;
}

.hidden {
  display: none;
}

.answerResults-paragraph {
  max-width: 90%;
  margin: auto;
  min-height: 50px;
  line-height: 1.6;
}
.answerResults {
  padding: 5px;
  max-width: 90%;
  margin: auto;
  background: rgb(252, 164, 255);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px #333;
}
.bold {
  font-weight: bold;
}
.greenTea {
  color: #356832;
  font-weight: bold;
}

.strawberry {
  color: #E50D31;
  font-weight: bold;
}