@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: 50% 50%; 
  background-image: url('./Images/670320.jpg');
  /* background-image: url('./Images/670609.jpg'); */
  /* background-image: url('./Images/763586.jpg'); */
}

:root {
  --font-size: calc(10px + 1vmin);
}
